<ion-view>
    <ion-nav-title>
      <p>
        <img class="bag-logo" src="img/bag.svg">
        <span>{{::(pin.name ? pin.name : 'Location Detail')}}</span>
      </p>
    </ion-nav-title>

  <ion-content class="padding pinDetail">
    <a ng-href="{{::pin.url}}" ng-if="::pin.url">
      <span ng-bind-html="::pin.adr_address"></span>
    </a>
    <span ng-bind-html="::pin.adr_address" ng-if="::!pin.url"></span>
    <a ng-href="tel:{{::pin.phone}}">{{::pin.phone}}</a>

    <ul class="pinDetail-dailyHours">
      <!--li class="pinDetail-openNowMessage" ng-if="::pin.opening_hours.open_now"-->
        <!-- Open Now -->
      <!--/li-->
      <li ng-if="::pin.opening_hours"
          ng-repeat="daily_hours in ::pin.opening_hours.weekday_text">
        {{::daily_hours}}
      </li>
    </ul>

    <iframe width="100%" height="450" frameborder="0" style="border:0"
        ng-src="{{::trustedPinEmbedSrc}}"
        allowfullscreen>
    </iframe>

  </ion-content>
</ion-view>
