<ion-view>
    <ion-nav-title>
      <p><img class="bag-logo" src="img/bag.svg">Your Account</p>
    </ion-nav-title>

  <ion-content class="padding">
  <div class="accountContent">
    <h1 class="account-title">Plastic Bag Recyling Finder</h1>

    <div class="account-user-content">
      <img class="account-bag-img" src="img/bag.svg">
      <p>
        Get rid of that pile lurking underneath your kitchen sink. Do something good
        for the world.
      </p>

      <p ng-if="!user">
        You don't need an account to use the app, but if you create one you'll be able to
        save your favorite locations!
      </p>

      <button class="button button-large button-outline button-balanced account-auth-btn"
          ng-click="login()" ng-show="!user">
        Login
      </button>

      <button class="button button-large button-outline button-balanced account-auth-btn"
          ng-click="logout()" ng-show="user">
        Logout
      </button>

    </div>

    <div class="account-footer">
      <button class="button button-small button-clear button-balanced" ng-click="closeAccount()"
          ng-show="user">
        Delete my account
      </button>

      <p class="legal-disclaimer">
        Copyright 2016
        Raquel Bujans<br>
        Bag Icon courtesy of Ryzhkov Anton from the
        <a href="https://thenounproject.com/">Noun Project</a>
      </p>
    </div>

  </div>
  </ion-content>
</ion-view>
